<div class="ui middle aligned">
  <div class="eight wide column">
    <h2 class="ui teal image header">
      <div class="content">Ryan Ward Books of 2018</div>
    </h2>
    <div class="ui card">
      <a href="https://www.amazon.com/Harry-Potter-Sorcerers-Stone-Rowling/dp/059035342X" class="ui medium image">
          <img src="\assets\harry_potter_book_1.jpg">
      </a>
      <div class="content">
        <a class="header">Harry Potter and the Socerer's Stone</a>
        <div class="meta">
          <span class="date">Finished in February</span>
        </div>
        <div class="description">
          This was one of my favorite books I have read this year.
        </div>
      </div>
      <div class="extra content">
        <a>
          <i class="user icon"></i>
          J.K. Rowling
        </a>
      </div>
    </div>
  </div>
</div>
